[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/imgui_club"]
	path = vendor/imgui_club
	url = https://github.com/ocornut/imgui_club.git
